{% extends 'base.html.twig' %}

{% block body %}
<main>

    {%  include 'inc/flashMessage.html.twig' %}


   <h1>oubli du mot de pass</h1>

    {{ form_start(form,{'attr' : {'novalidate' : 'novalidate'} }) }}

    <p>
        {{ form_label(form.email,'entity.user.email' |trans) }}
        {{ form_widget(form.email) }}
    </p>
    <p>

        {{ form_errors(form.email) }}
    </p>

    <p>
        <input type="submit" name="Valider" class="btn btn-primary" value="Valider">
    </p>
    {{ form_end(form) }}

    </article>

    </article>


</main>

    </div>
{% endblock %}


